body {
    background: url(../img/battleships.jpg) no-repeat;
    background-size: 100%;
}
body > p{
    text-align: center;
    font-size: 30pt;
    color: rgb(240, 255, 97);
    font-family: Old English Text MT;
}
.battleships {
    margin: 0 auto;
    border: 20px solid #A6D8DF;
    border-radius: 15px;
    opacity: 0.9;
}
.battleships tbody {
    background-color: white;
    padding: 30px;
}
.battleships tr:first-child td {
    font-size: 18pt;
    font-weight: bold;
    color: white;
    background-color: navy;
    text-align: center;
    padding: 10px;
}
.battleships a img {
    width: 28px;
    height: 28px;
    margin-bottom: -5px;
}